
<div class="header">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Blogs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Technology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Lifestyle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tag Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">404</a>
            </li>

        </ul>
        <div class="input-group search-field">
            <input type="text" class="form-control" placeholder="Search this blog" [(ngModel)]="searchword">
            <div class="input-group-append">
                <button class="btn btn-secondary search-btn" type="button">
                    Search
                </button>
            </div>
        </div>


    </nav>
</div>
