<div class="header">
    <nav class="navbar navbar-expand-sm navbar-dark navbar-fixed-top">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Blogs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Technology">Technology</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Lifestyle">Lifestyle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Food">Food</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Entertainment">Entertainment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Sports">Sports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Fitness">Fitness</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Music">Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/blogs/Travel">Travel</a>
            </li>


        </ul>

        <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <button class="btn btn-dark " type="button" [disabled]="localValues" (click)="logout()">
                Logout
            </button>
        </a>

        <a class="nav-link" routerLink="/login" routerLinkActive="active">
            <button class="btn btn-dark " type="button" [disabled]="localValue">
                Login
            </button>
        </a>



    </nav>
</div>
