<footer class="text-white footer text-lg-start mt-5">
    <!-- Grid container -->
    <div class="container pt-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-0 mb-md-0 div">
                <div class="footer-div">
                    <p class="float-left ml-3 mt-1 font-weight-bold">TEXT WIDGET</p>
                </div>

                <!-- <h5 class="text-uppercase">Footer Content</h5> -->

                <p class="mt-3 text-left">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. <br>Fugiat pariatur maxime quis repudiandae aliquam
                    voluptatem veniam.
                    <br>Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-0 mb-md-0 div">
                <div class="footer-div">
                    <p class="float-left ml-3 mt-1 font-weight-bold">TAG CLOUD</p>
                </div>
                <ul class="list-unstyled mb-0 mt-3 text-left">
                    <li class="mt-2">
                        <div class="d-inline p-1 tags-color text-grey">Cooking</div> &nbsp;
                        <div class="d-inline p-1 tags-color  text-grey">Food</div> &nbsp;
                        <div class="d-inline p-1 tags-color text-grey">Getting Started</div> &nbsp;
                    </li>
                    <li class="mt-2">
                        <div class="d-inline p-1 tags-color text-grey">Health</div> &nbsp;
                        <div class="d-inline p-1 tags-color text-grey">Lifestyle</div> &nbsp;
                        <div class="d-inline p-1 tags-color text-grey">Meditation</div> &nbsp;
                        <div class="d-inline p-1 tags-color text-grey">Movie</div> &nbsp;
                    </li>
                    <li class="mt-2">
                        <div class="d-inline p-1 tags-color text-grey">Music</div> &nbsp;
                        <div class="d-inline p-1 tags-color text-grey">Technology</div> &nbsp;
                        <div class="d-inline p-1 tags-color text-grey">Travel</div> &nbsp;
                    </li>

                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 div">
                <div class="footer-div">
                    <p class="float-left ml-3 mt-1 font-weight-bold">SUBSCRIBE</p>
                </div>

                <p class="mt-3 text-left ">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias.
                </p>

                <input type="text" class="w-100 footer text-white" placeholder="abc@gmail.com"><br>
                <div class="pt-2 float-left ">
                    <!-- <button type="button" class="btn-color ">Subscribe</button> -->
                    <button type="button" class="btn btn-danger btn-sm"><span
                            class="text-white font-weight-bold">Subscribe</span></button>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="footer-copyright float-left w-100 footer py-3 pl-4">© 2021
        <span class="footer-color"> Daily Blogs.</span> All right Reserved. - Powered by <span
            class="footer-color">Ghost</span> <span class="float-right footer-color pr-4">SUBSCRIBE</span>
    </div>

    <!-- Copyright -->
</footer>