.container {
    position: relative;
 }
 .tag {
    float: left;
    position: absolute;
    left: 15px;
    top: 0px;
    z-index: 1000;
    background-color: #ff0000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }

 .text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 15px;
    background-color: #000000a8;
    color: white;
    line-height: 2.0rem;
    width: 330px;
    
    
    padding-right: 0px; 
  }

  .gallery{
    display: flex;
  }
  
  .column{
    display: block;
    margin-right: .5vw;
    width: 100%;
  }
  
  .item{
    overflow: hidden;
    position: relative;
    margin-bottom: .5vw;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    
  }
  
  .imginfo{
    opacity: 0;
    bottom: -.78vw;
    left: .6vw;
  
    padding: .35vw;
    color: black;
    position: absolute;
    font-size: .65vw;
    font-family: "Quicksand";
    transition: .2s;
    background-color: white;
  }