<app-header></app-header>

<div class="container">

  <input class="mt-3 "type="text" placeholder="Search" [(ngModel)]="searchbtn">

  <h1>{{text}}</h1>

  <div class="gallery  pt-5">
    <div class="row">
      <div *ngFor="let data of status | filter: searchbtn">

        <a routerLink="/details/{{data._id}}">
          <div class="col-lg-4 ml-3 mt-3 mb-4">
            <div>
              <ul *ngFor="let item of data.tags; let i = index" [attr.data-index]=i>
              <a class="tag m-1">{{data.tags[i].name}}</a>
              
              </ul>
         
              
         
              <!-- <h2>{{data._id}}</h2> -->
           
              <img src="assets/images/{{data.image}}" alt="Blogpost" width="330" height="205">
              <div class="text-block">

                <h5 class="ml-3 pt-2 font-weight-bold">{{data.title}}</h5>

              </div>
           
          </div>
          </div>
        </a>
      </div>

    </div>
  </div>

</div>


<app-footer></app-footer>

