.container {
    position: none;
    padding-top: 50px;

 }
 .tag {
    float: left;
    position: none;
    left: 15px;
    top: 0px;
    z-index: 1000;
    background-color: #ff0000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;

    
 }

 .text-block {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: 15px;
    background-color: #000000a8;
    color: white;
    line-height: 2.0rem;
    width: 330px;
    
    
    padding-right: 0px; 
  }

  /* .gallery{
    display:-moz-inline-grid;
    
  } */
  
  .column{
    display: block;
    margin-right: .5vw;
    width: 100%;
    
    
  }
  
  .item{
    overflow: hidden;
    position: relative;
    margin-bottom: .5vw;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    
  }
  
  .imginfo{
    opacity: 0;
    bottom: -.78vw;
    left: .6vw;
  
    padding: .35vw;
    color: black;
    position: absolute;
    font-size: .65vw;
    font-family: "Quicksand";
    transition: .2s;
    background-color: white;
    border-radius: 100px;
  }



  .buttons {
    /* width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: lightsteelblue; */
    color: maroon;
    display: flex;
  }
  .round {
    height: 30px;
    width: 55px;
    background-color: rgb(185, 117, 117);
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
    display: inline;
    text-align: center;
    
    text-transform: uppercase;
    font-weight: 600;
    
  }
  /* #active {
  font-size: 0ex;
  } */