<app-header></app-header>

<div class="container">
    <div class="card">
          <h1 class="card-title">Hello Again!</h1>
          <small class="card-subtitle">Enter your credentials and get access</small>
          <form class="card-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <label for="username">Email</label>
              <div class="card-input-container username">
                  <input type="text" placeholder="Enter your email" id="username" class="form-control"
                  formControlName="email" required>
              </div>
              <label for="password">Password</label>
              <div class="card-input-container password">
                  <input type="password" placeholder="Enter your password" id="password" class="form-control"
                  formControlName="password" required>
              </div>
               <button class="card-button">Sign in</button>
              <small class="card-forgot-password">Not Registered? <a routerLink="/register">Create an account</a></small>
          </form>
      </div>
  </div>

  <app-footer></app-footer>