/* .tag {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    background-color: #ff0000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 } */

 .text-block {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #000000a8;
    color: white;
    line-height: 2.0rem;
    width: 100%;
    
    
    padding-right: 0px; 
  }

  .container {
    position: relative;
 }
 .tag {
    float: left;
    position: absolute;
    left: 15px;
    top: 24px;
    z-index: 1000;
    background-color: #ff0000;
    padding: 5px;
    color: #FFFFFF;
    font-weight: bold;
 }