<!-- <div *ngFor="let data of status">
    <h2>{{data.title}}</h2>
    </div> -->
<div class="container">
  <div class="d-flex justify-content-left pt-4">

    <div class="tag">{{status}}</div>

    <img src="assets/website.png" alt="Blog post" width="500" height="400">

  </div>


  <div class="d-flex justify-content-left mt-4">
    <h2><strong><b>What is Website and Why we create websites</b></strong></h2>

  </div>

  <div class="pl-2 mt-2">
    <i>
      <p>The great thing about a website is that it’s easy to direct readers from one page to another.
        Help readers find more great content by hyperlinking certain words or phrases to other relevant resources,
        especially those on your own website.
        This will help keep people engaged with your content and moving through your site.</p>

      <p>For example, say this sentence appeared on your cooking website: Ratatouille is a low-fat dish that consists
        of
        seasonal ingredients like eggplant, squash, and tomatoes.
        You could hyperlink “low-fat dish” to a page with other blog posts on healthy eating.</p>

      <p> Building these internal links within your own site also helps your SEO,
        but keep in mind that links should always be relevant and helpful. Visually, if you overload your text with
        links,
        people won’t know what to click on.
        Google recommends keeping the amount of hyperlinks on a page to a “reasonable number.”</p>
    </i>

  </div>

</div>