<app-header></app-header>

<div class="container mt-5 justify-content-between">
  <div class="row">
    <aside class="col-lg-3">
    
      <app-aside-component></app-aside-component>
    </aside>
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-9"> 
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><img src = "assets/images/{{status.image}}" alt="..." width="500" height="400" ></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="date meta-last">{{status.date}}</div>
              <div class="category"><a href="#">{{status.category}}</a></div>
            </div>
            <h1>{{status.title}}<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>
          
            <div class="post-body">
              <p class="lead">
              <blockquote class="blockquote">
                <p>{{status.content}}</p> <footer class="blockquote-footer">Publish by 
                  <cite title="Source Title">Author Name : {{status.uname}}</cite>
                </footer>
              </blockquote>
              </div>
            <div class="post-tags"> <span class="list-inline-item" *ngFor="let item of status.tags; let i = index">

              <li class="list-inline-item"><a href="#" class="tag">{{status.tags[i].name}}</a></li>
              </span></div>

          </div>
        </div>
      </div>
    </main>
    
  </div>
</div>

<app-footer></app-footer>