<app-header></app-header>


<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <div class="d-flex justify-content-center">
        <h2>Create Blog Post</h2>
      </div>
      <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="mt-2">
        <div class="form-group">
          <label for="exampleInputEmail1">Blog Title</label>
          <input type="text" class="form-control" name="title" placeholder="Blog Title" formControlName="title" />
          <span class="error mt-2" *ngIf="title.invalid && title.touched">Title is required</span>
             
        </div>

        <div class="form-group">
          <label>Blog Category</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="category">
            
            <option *ngFor="let cate of Category">{{cate.value}}</option>
            <span class="error mt-2" *ngIf="category.invalid && category.touched">category is required</span>
           
          </select>
           
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Blog Image</label>
          <div class="input-group">

            <input type="file" class="form-control" accept="image/*" (change)="onFileSelected($event)"
              formControlName="image" /><br>
              
          </div>
          <span class="error mt-2" *ngIf="image.invalid && image.touched">image is required</span>
            
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Blog Content</label>
          <textarea class="form-control bcontent" name="content" formControlName="content"
            placeholder="Blog Content"></textarea>
            <span class="error mt-2" *ngIf="content.invalid && content.touched">content is required</span>
            
        </div>
        <mat-form-field class="example-chip-list">
          <label for="exampleInputPassword1">Blog Tags</label>

          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
              (removed)="remove(tag)">
              {{tag.name}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input type="text" placeholder="" formArrayName="tags" multiple [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" />
            
          </mat-chip-list>
          
        </mat-form-field>
          <!-- <span class="error mt-2" *ngIf="tagg.invalid && tagg.touched">tags is required</span> -->
        
        <div class="form-group">
          <input type="submit" value="Create" class="btn btn-dark form-control" />
        </div>
      </form>
    </div>
  </div>
</div>


<app-footer></app-footer>