<app-header></app-header>

<div class="container">
    <div class="card">
        <h1 class="card-title">Hello Again!</h1>
        <small class="card-subtitle">Enter your credentials and get access</small>
        <form class="card-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <label for="username">Username</label>
            <div class="card-input-container username">
                <input type="text" placeholder="Enter your username" name="name" id="name" class="form-control"
                    formControlName="name" required >
                <span class="error mt-2" *ngIf="name.invalid && name.touched">Username is required</span>

            </div>

            <label for="email">Email</label>
            <div class="card-input-container username">
                <input type="email" placeholder="Enter your email" id="email" class="form-control"
                    formControlName="email" required>
                    
                <span class="error mt-2" *ngIf="email.invalid && email.touched">Email is required</span>
                <!-- <span class="error mt-2" *ngIf="email.errors.pattern && email.touched">Invalid email address</span> -->
            </div>
            <label for="password">Password</label>
            <div class="card-input-container password">
                <input type="password" placeholder="Enter your password" id="password" class="form-control"
                    formControlName="password" required>
                <span class="error mt-2" *ngIf="password.invalid && password.touched">Password is required</span>
            </div>
            <button class="card-button">Sign Up</button>
            <small class="card-forgot-password">Already Registered? <a routerLink="/login">Sign in</a></small>
        
        </form>
    </div>
</div>

<app-footer></app-footer>